<!DOCTYPE html5>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Main Page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/dashboard.css">
		<link rel="stylesheet" href="css/main.css">
        <script src="js/main.js" async defer></script>
		<script src="js/dashboard.js" async defer></script>
		<title>Dashboard</title>
    </head>

    <body>
        <div id="base-container" class="container">
			<header id="hex-grid-background" class="background">
				<div id="background-light" class="light"></div>
				<div id="background-grid-image" class="grid"></div>
            </header>
            <div id="top-navbar" class="navbar">
                <div id="return button" class="btn_back">
                    <a class="btn" href="./">
                        <img src="images/arrow-left.svg">
                    </a>
                </div>
            </div>
            <div class="dashboard-wrapper">
                <div class="dashboard-container">
                    <div class="stat-overview">
                        <div class="statcircle-wrapper">
                            <div class="statcircle" id="">
                                <h2>Total Time</h2>
                                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                 <g>
                                  <title>Layer 1</title>
                                  <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#0000ff80" fill="none"/>
                                 </g>
                                </svg>
                            </div>
                            <div class="statcircle" id="">
                                <h2>Time Past</h2>
                                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                 <g>
                                  <title>Layer 1</title>
                                  <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#00ff0080" fill="none"/>
                                 </g>
                                </svg>
                            </div>
                            <div class="statcircle" id="">
                                <h2>Time Left</h2>
                                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                 <g>
                                  <title>Layer 1</title>
                                  <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#ff000080" fill="none"/>
                                 </g>
                                </svg>
                            </div>
                        </div>
                        <div class="text-elm" id="statcircle-info">
                            <p class="test">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ab totam obcaecati consectetur voluptatum saepe vel, voluptatibus amet beatae, laborum adipisci distinctio expedita odit nostrum perspiciatis atque dolores exercitationem culpa?
                                Cum facilis voluptates est dolorem magni? Incidunt aperiam exercitationem explicabo sequi nisi perspiciatis porro debitis repellat eveniet? Labore soluta quibusdam modi temporibus quia esse, nihil at reprehenderit doloribus fuga magnam!
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, quos ut quaerat vitae, aspernatur dolor doloribus tenetur nisi culpa iure eius architecto, quas amet. Corporis animi itaque nulla ducimus harum!
                                Temporibus rerum quos unde. Minus nostrum enim dolorum ipsa error, quia voluptas est magni laboriosam omnis saepe consectetur magnam adipisci quae facere reprehenderit vel veniam, quos maxime ipsam corrupti dignissimos.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi numquam accusamus quibusdam inventore dolore nemo cupiditate commodi molestiae id ratione repellendus, a asperiores corporis. Molestias cum suscipit distinctio voluptatem vel.

                            </p>
                        </div>
                    </div>
                    
                    <div class="information-board">
                        <div class="text-elm" id="infoboard-info">
                            <p class="test">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ab totam obcaecati consectetur voluptatum saepe vel, voluptatibus amet beatae, laborum adipisci distinctio expedita odit nostrum perspiciatis atque dolores exercitationem culpa?
                                Cum facilis voluptates est dolorem magni? Incidunt aperiam exercitationem explicabo sequi nisi perspiciatis porro debitis repellat eveniet? Labore soluta quibusdam modi temporibus quia esse, nihil at reprehenderit doloribus fuga magnam!
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, quos ut quaerat vitae, aspernatur dolor doloribus tenetur nisi culpa iure eius architecto, quas amet. Corporis animi itaque nulla ducimus harum!
                                Temporibus rerum quos unde. Minus nostrum enim dolorum ipsa error, quia voluptas est magni laboriosam omnis saepe consectetur magnam adipisci quae facere reprehenderit vel veniam, quos maxime ipsam corrupti dignissimos.                                
                            </p>
                        </div>
                    </div>
                    <div class="agenda">
                        <div class="text-elm" id="agenda-info">
                            <p class="test">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ab totam obcaecati consectetur voluptatum saepe vel, voluptatibus amet beatae, laborum adipisci distinctio expedita odit nostrum perspiciatis atque dolores exercitationem culpa?
                                Cum facilis voluptates est dolorem magni? Incidunt aperiam exercitationem explicabo sequi nisi perspiciatis porro debitis repellat eveniet? Labore soluta quibusdam modi temporibus quia esse, nihil at reprehenderit doloribus fuga magnam!
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, quos ut quaerat vitae, aspernatur dolor doloribus tenetur nisi culpa iure eius architecto, quas amet. Corporis animi itaque nulla ducimus harum!
                                Temporibus rerum quos unde. Minus nostrum enim dolorum ipsa error, quia voluptas est magni laboriosam omnis saepe consectetur magnam adipisci quae facere reprehenderit vel veniam, quos maxime ipsam corrupti dignissimos.                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </body>
</html>