<!DOCTYPE html5>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="File drop zone">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/filedrop.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/main.js" async defer></script>
        <script src="js/filedrop.js" async defer></script>
        <title>database</title>
    </head>
    <body>
        <div id="base-container" class="container">
            <header id="hex-grid-background" class="background">
                <div id="background-light" class="light"></div>
                <div id="background-grid-image" class="grid"></div>
            </header>
            <div id="top-navbar" class="navbar">
                <div id="return button" class="btn_back">
                    <a class="btn" href="./">
                        <img src="images/arrow-left.svg">
                    </a>
                </div>
            </div>
            <div class="action-container">
                <div class="drop-zone">
                    <span id="drop-zone__prompt" class="drop-zone__prompt">
                            <id id="temp-text">Quick Upload</id>
                            <ul id="uploadedFiles">
                            </ul>
                    </span>
                    <form id="file-upload" action="./filedrop/" method="POST" enctype="multipart/form-data">
                        <input type="file" name="uploadDoc" class="drop-zone__input" multiple>
                    </form>     
                </div>
                <div id="file-submit" class="button-wrapper">
                    <button class="btn" type="submit" form="file-upload">
                            Upload Files</button>
                </div>
            </div>
        </div>
    </body>
</html>