<!DOCTYPE html5>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Main Page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/notepad.css">
        <script src="js/main.js" async defer></script>
		<title>Notepad</title>
    </head>

    <body>
        <div id="base-container" class="container">
			<header id="hex-grid-background" class="background">
				<div id="background-light" class="light"></div>
				<div id="background-grid-image" class="grid"></div>
            </header>
            <div id="top-navbar" class="navbar">
                <div id="return button" class="btn_back">
                    <a class="btn" href="./">
                        <img src="images/arrow-left.svg">
                    </a>
                </div>
            </div>
			<div class="action-container">
                <form class="notepad-wrapper" action="form/submit/" method="post">
                    <br>
                    <textarea name="notepad" id="primary-note" class="notepad" cols="140" rows="30"></textarea>
                    </br>
                </form>
			</div>
		</div>
    </body>
</html>