<!DOCTYPE html5>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Main Page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/notepad.css">
		<link rel="stylesheet" href="css/main.css">
        <script src="js/main.js" async defer></script>
        <script src="js/notepad.js" async defer></script>
		<title>Notepad</title>
    </head>

    <body>
        <div id="base-container" class="container">
			<header id="hex-grid-background" class="background">
				<div id="background-light" class="light"></div>
				<div id="background-grid-image" class="grid"></div>
            </header>
            <div id="top-navbar" class="navbar">
                <div id="return button" class="btn_back">
                    <a class="btn" href="./">
                        <img src="images/arrow-left.svg">
                    </a>
                </div>
            </div>
			<div class="action-container">
                <div class="notepad-wrapper">
                    <textarea name="noteName" id="filename" class="notename" placeholder="Note Name" cols="1" rows="1"></textarea>
                    <br>
                    <textarea name="notepad" id="primary-note" class="notepad" placeholder="Enter Notes here..." cols="140" rows="30"></textarea>
                    </br>
                    <form name="notepad" class="file-submiter" action="./notepad/" method="POST" enctype="multipart/form-data">
                        <input id="saveinput" type="hidden" name="uploadNotes" value="">
                    </form>
                    
                    <div class="button-wrapper">
                        <button id="file-submiter" class="btn" type="submit" form="notepad">Save Notes</button>
                    </div>
                </div>
			</div>
		</div>
    </body>
</html>