h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    color: #fff;
    margin: 4px;
    padding-left: 6px;
}

ul>li::before {
    content: "#";
}

body {
    margin: 0;
    padding: 0;
    min-height: 160vh;
    overflow: hidden;
}

#base-container {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

header {
    height: 100vh;
    background: #000;
}

header .grid {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/grid.svg) repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 500px;
}

header .light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    height: 25em;
    filter: blur(15px);
    background: linear-gradient( 90deg, #335bf4 0%, #2ae9c9 100%);
    z-index: 0;
}

#top-navbar {
    margin: 2%;
    position: absolute;
    top: 0;
    left: 0;
}
.action-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_back {
    margin: 6px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient( 155deg, #020024 0%, red 0%, #ffab00 12%, #e0ff00 24%, #00ff08 36%, #00e4ff 48%, #0005ff 60%, #fe00e7 72%, red 84%, #ffa200 96%);
    height: 4em;
    animation: borderAnim 55s linear infinite;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.btn_back {
    width: 4.9em
}

.btn_back:hover {
    background: #fff;
}

.btn_back::before,
.btn_back .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.btn_back::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    filter: blur(4px);
}

.btn_back .btn {
    background: linear-gradient( 147deg, #000000 0%, #181818 74%);
    height: 3.3em;
    text-align: center;
    text-decoration: none;
    padding: 1.1em;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 3px;
}

.btn_back .btn {
    width: 4em;
}

@keyframes borderAnim {
    0% {
        background-position: 0.0;
    }
    50% {
        background-position: 18.75em 31.25em;
    }
    100% {
        background-position: 0.1em 0.1em;
    }
}

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 160vh;
}

.dashboard-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.stat-overview {
    padding: 10px;  
    display: flex;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.statcircle-wrapper {
    display: flex;
    justify-content: flex-start;
}

.text-elm {
    height: 100%;
}

#statcircle-info > p {
    margin: 6px;
    color: #fff;
}

.information-board {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.agenda {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.statcircle {
    margin: 6px;
    position: relative;
    float: left;
}

.statcircle h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
}

.statcircle .circle_animation {
    -webkit-animation: statcircle 1s ease-out forwards;
    animation: statcircle 1s ease-out forwards;
}

@-webkit-keyframes statcircle {
  to {
    stroke-dashoffset: 80; 
  }
}

@keyframes statcircle {
  to {
    stroke-dashoffset: 850;
  }
}

