.action-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-zone {
    margin: 1%;
    background: #1a1a1a;
    width: 200px;
    height: 200px;
    padding: 25px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #cccccc;
    cursor: url("../images/cursor.png"), auto;
    border: 4px dashed #009578;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    transition: width 0.5s cubic-bezier(0.76, 0.8, 0.46, 0.96), height 0.5s cubic-bezier(0.76, 0.8, 0.46, 0.96);

}

.drop-zone__prompt {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-zone--over {
    border-style: solid;
    width: 1200px;
    height: 380px;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

#uploader {
    visibility: hidden;
}

#uploadedFiles {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn_back,
#file-submit {
    margin: 6px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient( 155deg, #020024 0%, red 0%, #ffab00 12%, #e0ff00 24%, #00ff08 36%, #00e4ff 48%, #0005ff 60%, #fe00e7 72%, red 84%, #ffa200 96%);
    height: 4em;
    animation: borderAnim 55s linear infinite;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.btn_back {
    width: 4.9em
}

#file-submit {
    width: 13.6em;
}

.btn_back:hover,
#file-submit:hover {
    background: #fff;
}

.btn_back::before,
.btn_back .btn,
#file-submit::before,
#file-submit .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.btn_back::before,
#file-submit::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    filter: blur(4px);
}

.btn_back .btn,
#file-submit .btn {
    background: linear-gradient( 147deg, #000000 0%, #181818 74%);
    height: 3.3em;
    text-align: center;
    text-decoration: none;
    padding: 1.1em;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 3px;
}

.btn_back .btn {
    width: 4em;
}

#file-submit .btn {
    width: 12em;
}

@keyframes borderAnim {
    0% {
        background-position: 0.0;
    }
    50% {
        background-position: 18.75em 31.25em;
    }
    100% {
        background-position: 0.1em 0.1em;
    }
}